* {
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    width: 1024px;
    height: 65px;
    /* background-color: rgb(168, 180, 168); */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0px;
    padding: 2px;
}

.header>a>img {
    display: block;
    margin: auto;
    width: 994px;
    height: 60px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: rgb(102, 114, 102); */
    margin: auto;
}

.aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: rgb(84, 129, 84); */

    display: flex;
    flex-direction: column;
}

.aside-header {
    /* width: 215px; */
    height: calc(100% - 20px);
    /* background-color: rgb(191, 212, 252); */
    border: 1px solid black;
    border-right: 0px;
    border-bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aside-header>.aside-title {
    font-weight: 500;
    font-size: 24px;
    font-family: '標楷體';
    color: #FF00FF;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;

    border-bottom: 1px solid black;
}

.aside-header>.box {
    width: 200px;
    height: 35px;
    background-image: url(../images/menu1.png);

    font-size: 16px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
}

.aside-header>.box:hover {
    background-image: url(../images/menu2.png);
}

.aside-footer {
    /* width: 215px; */
    /* height: 20px; */
    flex-basis: 20px;
    /* background-color: rgb(119, 122, 168); */
    border: 1px solid black;
    border-right: 0px;
    border-bottom: 0px;

    font-size: 16px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
}

.main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: rgb(130, 206, 130); */
}

.marquee {
    font-family: '標楷體';
    width: 770px;
    height: 29px;
    font-size: 24px;
    color: #0000FF;
}

.main-header {
    /* width: calc(1024px - 215px); */
    height: 29px;
    /* background-color: rgb(56, 141, 211); */
    border: 1px solid black;
    border-bottom: 0px;
}

.main-section {
    /* width: calc(1024px - 215px); */
    height: calc(100% - 29px);
    /* background-color: rgb(77, 118, 151); */
    border: 1px solid black;
    border-bottom: 0px;
}

.footer {
    width: 1024px;
    height: 20px;
    /* background-color: rgb(82, 90, 82); */
    margin: auto;
    border: 1px solid black;

    text-align: center;
    font-family: '標楷體';
    color: #000000;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 100%;
}